/* This changes the bulk of the font (using GoogleFonts) */

.container {
    font-family: 'Raleway', sans-serif;
    font-size: large;
}

.btn {
    margin: 1%;
}


/* this changes the font of the titles (using GoogleFonts) */

.title {
    font-family: 'Lexend Mega', sans-serif;
}


/* this does the parallax scrolling for the image on the index page - this image will be replaced with a landscape of myself */

.parallax {
    background-image: url("../img/linkedInBack.webp");
    height: 240px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-picture {
    border-radius: 50%;
    height: auto;
    position: relative;
    left: 5%;
}

@media screen and (max-width: 480px) {
    .profile-picture {
        height: 240px;
        width: auto;
        align-content: center;
    }
}

.theme-color {
    background-color: #431c53
}

.mosaic {
    display: grid;
}

.mosaic__item:first-of-type {
    grid-column: 1 / span 2;
    grid-row: 1/ span 2;
}

.mosaic__item:last-of-type {
    grid-column: 1 / span 2;
    grid-row: 1/ span 2;
}


/* this adds padding to the bottom of the page otherwise you cannot view some segments of the portfolio because of the footer */

body {
    padding-bottom: 10%;
}


/* this adds a light grey border to the bottom of each portfolio segment to help seperate them, this is especially helpful on mobile */

.portfolioSegments {
    border-bottom: 1px solid lightgrey;
}