/* TITLE SECTION */

.title {
    font-family: 'Lexend Mega', sans-serif;
    color: #431c53;
    border-bottom: 3px solid #431c53;
}

.subTitle {
    font-family: 'Lexend Mega', sans-serif;
}


/* HEADER, PROFILE PICTURE AND PARALLAX SECTION */

.parallax {
    background-image: url("../img/linkedInBack.webp");
    height: 350px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-picture {
    border-radius: 50%;
    height: auto;
    position: relative;
    left: 5%;
    border: 5px solid white;
}

@media screen and (max-width: 480px) {
    .profile-picture {
        height: 385px;
        width: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        left: -1%;
    }
}


/* TYPES OF CONTAINER (CARD, MOSAIC AND CONTAINER) */

.container {
    font-family: 'Raleway', sans-serif;
    font-size: large;
}

.card {
    margin: 1%;
    border: 5px solid #431c53
}

.card:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}

.card-title {
    color: #431c53;
    font-weight: bold;
}

.mosaic {
    display: grid;
}

.mosaic__item:first-of-type {
    grid-column: 1 / span 2;
    grid-row: 1/ span 2;
}

.mosaic__item:last-of-type {
    grid-column: 1 / span 2;
    grid-row: 1/ span 2;
}


/* MISC */

.btn {
    margin: 1%;
}

.theme-color {
    background-color: #431c53
}

body {
    padding-bottom: 10%;
}